@import url("https://fonts.googleapis.com/css?family=Rubik|Bungee+Shade");
body {
    background-color: #000000;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

.headline {
    font-family: "Bungee Shade", "Arial Black", sans-serif-black, sans-serif;
    font-weight: 400;
    line-height: 2;
    text-align: center;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0 0 10px 0;
    pading: 20px 0;
}

#gradient {
    width: 100%;
    height: 800px;
    padding: 0;
    margin: 0;
    color: #ffffff;
}

.link-row {
    margin: 30px;
    vertical-align: middle;
}

.icon {
    color:#ffffff ;
    background: transparent;
    display: inline-block;
    vertical-align: middle;
}

span {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-weight: 600;
    vertical-align: middle;
    padding-left: 1px;
    tranisition-duration: .2s;
}

.link-row a {
    text-decoration: none;
}
.link-row a:hover {
    cursor: pointer;
}

.link-row a:hover span {
    color: #000000;
}

.link-row a:hover .icon {
    animation: MoveUpDown .5s linear 1;
}

@keyframes MoveUpDown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-8px);
    }
    100% {
        transform: translateY(0px);
    }
}
